:root {
  --primary: #F2E205; 
  --secondary: #F06F53; 
  --tertiary:   #AE4D75;
  --quaternary:  #554067; 
  --quinary: #F0F0F2;
  --senary: #202731;
  --fox-lightest-purple: #C609FF;
  --fox-darkest-purple: #3601FD;
  --fox-lightest-orange: #FFA801;
  --fox-darkest-orange: #FF6003;
}

main {
  flex: 1 0 auto;
}

.App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary_bg {
  background: var(--primary) !important;
}
.secondary_bg {
  background: var(--secondary) !important;
}
.tertiary_bg {
  background: var(--tertiary) !important;
}
.quaternary_bg {
  background: var(--quaternary) !important;
}
.quinary_bg {
  background: var(--quinary) !important;
}
.senary_bg {
  background: var(--senary) !important;
}

.primary_text {
  color: var(--primary) !important;
}
.secondary_text {
  color: var(--secondary) !important;
}
.tertiary_text {
  color: var(--tertiary) !important;
}
.quaternary_text {
  color: var(--quaternary) !important;
}
.quinary_text {
  color: var(--quinary) !important;
}
.senary_text {
  color: var(--senary) !important;
}

.navbarIcon {
  min-height: 48px;
  max-height: 48px;
  margin-top: 5px;
  /* max-height: 150px; */
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.transparentBG {
  background-color: rgba(0,0,0,0);
}

.sidenav_link{
  background-image: linear-gradient(90deg, #AE4D75, #F06F53);
}

.active{
  text-transform: uppercase;
}

.nav-wrapper ul li a{
  display: flex;
  position: relative;
}

.nav-wrapper ul li a:before{
  content: "";
  width: 0;
  height: 5px;
  background-color: #F06F53;
  position: absolute;
  top: 70%;
  left: 0;
  transition: all 0.5s;
}

.nav-wrapper ul li a:after{
  content: "";
  width: 0;
  height: 5px;
  background-color: #AE4D75;
  position: absolute;
  top: 70%;
  right: 0;
  transition: all 0.5s;
}

.nav-wrapper ul li a:hover:before{
  width: 50%;
  transform: translateX(100%);
}

.nav-wrapper ul li a:hover:after{
  width: 50%;
  transform: translateX(-100%);
}

#tsparticles{
  width: 100vw;
  height: 90vh;
  position: absolute;
  z-index: -1;
}

.my_card{
  display: grid;
  width: 300px;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  background-color: rgba(0,0,0,0);

  font-size: 18px;
  /* background-color: white; */
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  border-radius: 15px;
  transition: 0.5s ease;
}

.my_card-image{
  grid-area: image;
  border-top-left-radius: "15px";
  border-top-right-radius: "15px";
  background-size: cover;
}

.my_card-text{
  grid-area: text;
  margin: 25px;
  font-size: 13px;
  font-weight: 300;
  color: var(--quinary);
}

.my_card-text h2{
  margin-top: 0;
  font-size: 28px;
  color: var(--secondary);
}

.my_card-stats{
  grid-area: stats;
}

.my_card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* background-color: var(--senary); */
}

.my_card-stats .stat{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: var(--quinary);
}

.my_card-stats .type{
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.my_card-stats .value{
  font-size: 22px;
  font-weight: 500;
}

.my_card-stats .borderX{
  border-left: 1px solid var(--quinary);
  border-right: 1px solid var(--quinary);
}

.my_card-stats .borderY{
  border-top: 1px solid var(--quinary);
}

.my_card-stats .value sup {
  font-size: 12px;
}

/* .my_card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
} */

[data-tilt="true"]{
  box-shadow: none !important;
  background-color: rgba(0,0,0,0) !important;
}

.card{
  background-color: rgba(0, 0, 0, 0) !important;
}