:root {
  --primary: #F2E205; 
  --secondary: #F06F53; 
  --tertiary:   #AE4D75;
  --quaternary:  #554067; 
  --quinary: #F0F0F2;
  --senary: #202731;
  --fox-lightest-purple: #C609FF;
  --fox-darkest-purple: #3601FD;
  --fox-lightest-orange: #FFA801;
  --fox-darkest-orange: #FF6003;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(90deg, #AE4D75, #F06F53);
  overflow-x: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
